# Using Pandas-TA for technical indicators

https://www.youtube.com/watch?v=lij39o0_L2I&t=51s

YFinance
https://pypi.org/project/yfinance/

Pandas-TA
https://github.com/twopirllc/pandas-ta
https://pypi.org/project/pandas-ta/

Investopedia
https://www.investopedia.com/articles/trading/07/adx-trend-indicator.asp

In [1]:
import pandas as pd
import pandas_ta as ta
import ccxt, yfinance

In [2]:
exchange = ccxt.binance()

bars = exchange.fetch_ohlcv("BTC/USDT", timeframe = "5m", limit = 500)

In [3]:
df = pd.DataFrame(bars, columns = ["time", "open", "high", "low", "close", "volume"])
print(df)

              time      open      high       low     close      volume
0    1654124100000  29741.77  29752.37  29724.44  29747.16   121.78429
1    1654124400000  29747.17  29791.05  29728.80  29791.05   172.84013
2    1654124700000  29791.04  30074.95  29788.90  30057.13  1022.41863
3    1654125000000  30057.12  30057.13  29912.42  29915.36   515.09812
4    1654125300000  29915.36  29963.12  29808.68  29813.44   354.00828
..             ...       ...       ...       ...       ...         ...
495  1654272600000  29472.21  29497.23  29450.02  29493.65   151.84166
496  1654272900000  29493.65  29520.06  29411.44  29411.45   160.22353
497  1654273200000  29411.28  29477.79  29401.00  29461.71   219.64921
498  1654273500000  29461.71  29473.24  29440.47  29463.77   110.50544
499  1654273800000  29463.76  29477.78  29450.26  29450.26    75.22907

[500 rows x 6 columns]

In [28]:
# adx = ta.adx(df["high"], df["low"], df["close"])
adx = df.ta.adx()
print(adx)

        ADX_14     DMP_14     DMN_14
0          NaN        NaN        NaN
1          NaN        NaN        NaN
2          NaN        NaN        NaN
3          NaN        NaN        NaN
4          NaN        NaN        NaN
..         ...        ...        ...
495  18.366220  23.753471  19.246511
496  17.787209  22.398508  18.229998
497  18.704144  30.355529  16.122084
498  19.441590  28.072772  15.441328
499  20.126362  27.039061  14.872739

[500 rows x 3 columns]

In [30]:
macd = df.ta.macd(fast = 14, slow = 28)
print(macd)

     MACD_14_28_9  MACDh_14_28_9  MACDs_14_28_9
0             NaN            NaN            NaN
1             NaN            NaN            NaN
2             NaN            NaN            NaN
3             NaN            NaN            NaN
4             NaN            NaN            NaN
..            ...            ...            ...
495      2.350181      -0.003180       2.353362
496      2.346677      -0.005348       2.352025
497      2.649260       0.237788       2.411472
498      2.503442       0.073576       2.429866
499      2.539130       0.087412       2.451719

[500 rows x 3 columns]

In [31]:
rsi = df.ta.rsi()
print(rsi)

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
495    53.127326
496    54.405833
497    58.633737
498    52.744460
499    55.087955
Name: RSI_14, Length: 500, dtype: float64

In [34]:
df = pd.concat([df, adx, macd, rsi], axis = 1)
print(df)

             time     open     high      low    close     volume  ADX_14  \
0    1.654039e+12  1952.51  1953.31  1950.95  1953.30   980.1388     NaN
1    1.654039e+12  1953.30  1955.20  1952.65  1953.82   710.8329     NaN
2    1.654040e+12  1953.83  1955.73  1952.48  1952.48  1016.1261     NaN
3    1.654040e+12  1952.49  1955.93  1952.48  1952.68  1624.2436     NaN
4    1.654040e+12  1952.69  1953.35  1948.00  1950.43  1080.9540     NaN
..            ...      ...      ...      ...      ...        ...     ...
495           NaN      NaN      NaN      NaN      NaN        NaN     NaN
496           NaN      NaN      NaN      NaN      NaN        NaN     NaN
497           NaN      NaN      NaN      NaN      NaN        NaN     NaN
498           NaN      NaN      NaN      NaN      NaN        NaN     NaN
499           NaN      NaN      NaN      NaN      NaN        NaN     NaN

     DMP_14  DMN_14  MACD_14_28_9  MACDh_14_28_9  MACDs_14_28_9          0  \
0       NaN     NaN           NaN            NaN            NaN        NaN
1       NaN     NaN           NaN            NaN            NaN        NaN
2       NaN     NaN           NaN            NaN            NaN        NaN
3       NaN     NaN           NaN            NaN            NaN        NaN
4       NaN     NaN           NaN            NaN            NaN        NaN
..      ...     ...           ...            ...            ...        ...
495     NaN     NaN           NaN            NaN            NaN  53.127326
496     NaN     NaN           NaN            NaN            NaN  54.405833
497     NaN     NaN           NaN            NaN            NaN  58.633737
498     NaN     NaN           NaN            NaN            NaN  52.744460
499     NaN     NaN           NaN            NaN            NaN  55.087955

        ADX_14     DMP_14     DMN_14  MACD_14_28_9  MACDh_14_28_9  \
0          NaN        NaN        NaN           NaN            NaN
1          NaN        NaN        NaN           NaN            NaN
2          NaN        NaN        NaN           NaN            NaN
3          NaN        NaN        NaN           NaN            NaN
4          NaN        NaN        NaN           NaN            NaN
..         ...        ...        ...           ...            ...
495  18.366220  23.753471  19.246511      2.350181      -0.003180
496  17.787209  22.398508  18.229998      2.346677      -0.005348
497  18.704144  30.355529  16.122084      2.649260       0.237788
498  19.441590  28.072772  15.441328      2.503442       0.073576
499  20.126362  27.039061  14.872739      2.539130       0.087412

     MACDs_14_28_9     RSI_14
0              NaN        NaN
1              NaN        NaN
2              NaN        NaN
3              NaN        NaN
4              NaN        NaN
..             ...        ...
495       2.353362  53.127326
496       2.352025  54.405833
497       2.411472  58.633737
498       2.429866  52.744460
499       2.451719  55.087955

[2000 rows x 20 columns]

In [36]:
df_low_rsi = df[df["RSI_14"] <30]
print(df_low_rsi)

             time     open     high      low    close      volume  ADX_14  \
58   1.654056e+12  1930.27  1931.20  1917.29  1917.36   5561.7045     NaN
183  1.654094e+12  1922.61  1928.00  1915.13  1916.02  11228.3815     NaN
184  1.654094e+12  1915.97  1915.99  1890.06  1909.46  16312.5839     NaN
185  1.654094e+12  1909.46  1914.12  1896.51  1907.16   7629.1497     NaN
186  1.654095e+12  1907.15  1907.28  1902.00  1902.20   4168.9384     NaN
..            ...      ...      ...      ...      ...         ...     ...
257           NaN      NaN      NaN      NaN      NaN         NaN     NaN
455           NaN      NaN      NaN      NaN      NaN         NaN     NaN
456           NaN      NaN      NaN      NaN      NaN         NaN     NaN
457           NaN      NaN      NaN      NaN      NaN         NaN     NaN
459           NaN      NaN      NaN      NaN      NaN         NaN     NaN

     DMP_14  DMN_14  MACD_14_28_9  MACDh_14_28_9  MACDs_14_28_9          0  \
58      NaN     NaN           NaN            NaN            NaN        NaN
183     NaN     NaN           NaN            NaN            NaN        NaN
184     NaN     NaN           NaN            NaN            NaN        NaN
185     NaN     NaN           NaN            NaN            NaN        NaN
186     NaN     NaN           NaN            NaN            NaN        NaN
..      ...     ...           ...            ...            ...        ...
257     NaN     NaN           NaN            NaN            NaN  23.178285
455     NaN     NaN           NaN            NaN            NaN  25.662668
456     NaN     NaN           NaN            NaN            NaN  19.064228
457     NaN     NaN           NaN            NaN            NaN  22.419976
459     NaN     NaN           NaN            NaN            NaN  28.971357

        ADX_14     DMP_14     DMN_14  MACD_14_28_9  MACDh_14_28_9  \
58   21.540723  16.718749  37.435209     -3.848000      -0.662469
183  25.955732  14.186272  36.018513     -3.640566      -4.704200
184  28.414510  11.612477  47.004599     -5.473981      -5.230092
185  30.697660  10.253485  41.503717     -7.051068      -5.445743
186  32.817727   9.880136  39.992488     -8.578040      -5.578172
..         ...        ...        ...           ...            ...
257  52.165464   5.542599  40.811969    -13.683215      -2.910401
455  26.732718  15.693794  42.907841     -2.119766      -2.341425
456  29.049730  12.561220  48.969478     -4.407679      -3.703470
457  31.204338  11.910749  46.495656     -6.046544      -4.273868
459  31.105983  17.818712  33.451045     -7.739482      -3.972214

     MACDs_14_28_9     RSI_14
58       -3.185531  28.800988
183       1.063634  27.950366
184      -0.243889  25.448160
185      -1.605325  24.616083
186      -2.999868  22.878770
..             ...        ...
257     -10.772814  23.178285
455       0.221659  25.662668
456      -0.704209  19.064228
457      -1.772676  22.419976
459      -3.767269  28.971357

[140 rows x 20 columns]

In [17]:
ticker = yfinance.Ticker("TSLA")

In [20]:
df2 = ticker.history(period = "2y")

In [21]:
print(df2)

                  Open        High         Low       Close    Volume  \
Date
2020-06-02  178.940002  181.731995  174.199997  176.311996  67828000
2020-06-03  177.623993  179.587997  176.020004  176.591995  39747500
2020-06-04  177.975998  179.149994  171.688004  172.876007  44438500
2020-06-05  175.567993  177.304001  173.240005  177.132004  39059500
2020-06-08  183.800003  190.000000  181.832001  189.983994  70873500
...                ...         ...         ...         ...       ...
2022-05-26  661.419983  718.669983  653.659973  707.729980  35334400
2022-05-27  723.250000  759.799988  720.530029  759.630005  29765000
2022-05-31  773.840027  778.799988  734.229980  758.260010  33971500
2022-06-01  755.159973  771.979980  730.919983  740.369995  25676000
2022-06-02  732.469971  792.630005  726.409973  781.723206  19563362

            Dividends  Stock Splits
Date
2020-06-02          0           0.0
2020-06-03          0           0.0
2020-06-04          0           0.0
2020-06-05          0           0.0
2020-06-08          0           0.0
...               ...           ...
2022-05-26          0           0.0
2022-05-27          0           0.0
2022-05-31          0           0.0
2022-06-01          0           0.0
2022-06-02          0           0.0

[506 rows x 7 columns]